
<!-- 
    header.ejs

    Mehwish Mehmood
    301137378
    Sept-29-2021

 -->
<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 

  

      <!--Main Content-->
     <main class="container">
       <div class="jumbotron">
        <h1 class="display-4">Welcome to <%= title %> page</h1>
       </div>
       <div class="container"> 
        <div class = "row">
        <div class = "col-sm-3"> <img src="Assets/images/me.jpeg" style ="width: 300px"> </div>
        <div class = "col-sm-4 offset-1"> I'm Mehwish Mehmood studing Software Engineering Technology 
             in Centennial College.I live in toronto, Canada. My favourite hobby is building things on internet like websites.
            I want to be a web developer because programming is awsome and programming for the internet in even more awesome.
            <a href="assets\documents\resume.pdf">resume</a></div>
        </div>
        
        </div>
       
     </main>
  
     <%- include partials/bottom_nav.ejs %> 

  <%- include partials/footer.ejs %> 

