<!-- 
    header.ejs

    Mehwish Mehmood
    301137378
    Sept-29-2021

 -->


<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 

  

      <!--Main Content-->
     <main class="container">
       <div class="jumbotron">
        <h1 class="display-4">Welcome to <%= title %> page</h1>
        <p>
            hello! I graduated from Centennial College in Toronto with a degree in Software Engineering Technology.
           I have a lot of expertise with web site design and development. I'd be delighted to speak with 
           you about our particular situation.
           <a href="about">about me</a>
        </p> 
       </div>
       
     </main>
  
     <%- include partials/bottom_nav.ejs %> 

    

 
  <%- include partials/footer.ejs %> 
