<!-- 
    header.ejs

    Mehwish Mehmood
    301137378
    Sept-29-2021

 -->
 <!-- 
    header.ejs

    Mehwish Mehmood
    301137378
    Sept-29-2021

 -->

<%- include partials/header.ejs %> 
<%- include partials/main_nav.ejs %>    
<!--Main Content-->
<main class="container-fluid" style="padding-top: 50px; color:white;">
    <div class="jumbotron" style="text-align: center;">
        <h1 class="display-4">Welcome to <%= title %> page</h1>
       </div>
       <br><br>
    <!--project 1-->
    <div class="row justify-content-center">
        <div class="col-sm-7">
            <a href="http://studentweb.cencol.ca/mmehmoo5/Project/final%20project/home.html"><img src="assets/images/p1.png" style="width: 730px;"></a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-7" style="text-align: center;">
            <p>Vivamus eu leo a lacus cursus venenatis sed a lacus. Etiam eu tempus eros. Fusce faucibus ut est a tempor. Donec convallis ultrices odio id aliquet. Etiam et imperdiet nulla. Vivamus eget pulvinar lacus. Mauris sit amet viverra ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec eget faucibus erat, venenatis egestas nisl.</p>
        </div>
    </div>
    <!--project 2-->
    <div class="row justify-content-center">
        <div class="col-sm-7">
            <a href="http://studentweb.cencol.ca/mmehmoo5/week%2009/Week09.html"><img src="assets/images/p2.png" style="width: 730px;"></a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-7" style="text-align: center;">
            <p>Vivamus eu leo a lacus cursus venenatis sed a lacus. Etiam eu tempus eros. Fusce faucibus ut est a tempor. Donec convallis ultrices odio id aliquet. Etiam et imperdiet nulla. Vivamus eget pulvinar lacus. Mauris sit amet viverra ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec eget faucibus erat, venenatis egestas nisl.</p>
        </div>
    </div>
    <!--project 3-->
    <div class="row justify-content-center">
        <div class="col-sm-7">
            <a href="http://studentweb.cencol.ca/mmehmoo5/index.html"><img src="assets/images/p3.png" style="width: 730px;"></a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-7" style="text-align: center;">
            <p>Vivamus eu leo a lacus cursus venenatis sed a lacus. Etiam eu tempus eros. Fusce faucibus ut est a tempor. Donec convallis ultrices odio id aliquet. Etiam et imperdiet nulla. Vivamus eget pulvinar lacus. Mauris sit amet viverra ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec eget faucibus erat, venenatis egestas nisl.</p>
        </div>
    </div>
</main>

 <%- include partials/bottom_nav.ejs %>  
<%- include partials/footer.ejs %> 








