
<!-- 
    header.ejs

    Mehwish Mehmood
    301137378
    Sept-29-2021

 -->
<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 

  

      <!--Main Content-->
     <main class="container">
       <div class="jumbotron">
        <h1 class="display-4">Welcome to <%= title %> page</h1>
        <div class="container"> 
          <div class = "row">
          <div class = "col-sm-3"> <img src="Assets/images/serve.jpg" style ="width: 350px"> </div>
          <div class = "col-sm-4 offset-1">With high-quality web app development services suited to the demands 
            of your business domain, our web development firm will construct, 
            manage, and expand your digital experience. You will be able
             to reach any business objective faster than your rivals with 
             the back end and front end web development services we give.
              When you choose our custom web development service,
               you'll get responsive web apps and sites built by the
                most up-to-date and dependable technicians. </div>
          </div>
          </div>
     </main>
  
     
     <%- include partials/bottom_nav.ejs %> 

  <%- include partials/footer.ejs %> 




